# =====================================================
#  .env.example — Copie ce fichier en .env et adapte
#  ATTENTION : .env est ignoré par Git (voir .gitignore)
# =====================================================

# ---------- PostgreSQL ----------
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflowpass
POSTGRES_DB=mlflow

# ---------- MLflow ----------
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=breast_cancer_rf

# ---------- API ----------
MODEL_PATH=/app/models/model.pkl
